<style>
    .myimage {
    width: 300px;
    height: 200px;
    background-image: url('sececollege_image.JPEG');
    background-size: cover;
    background-position: center;
    border: 2px solid black;
}
    h3{
        margin-top:45px;
        margin-left:35px;
    }
    button{
        background-color:green;
        color:white;
        width:70px;
        height:50px;
        margin-left:15px;
        margin-bottom:0px;
        border-radius:10px;
    }
    
    .box{
        background-color:#ccc;
        width:225px;
        height:300px;
        border-radius:10px;
        margin:10px;

    }
    
    .main{
        display:flex;
        flex-wrap:wrap;
        
    }
</style>